{% extends "base.html" %}

{% block content %}
    <header><h1>Create Alert</h1></header>
    <section class="create-alert-form">
        <form method="post">
            <div class="form-group w-50">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name for your Alert" />
            </div>
            <div class="form-group w-50">
                <label for="item_url">Item URL</label>
                <input type="text" class="form-control" id="item_url" name="item_url" placeholder="https://..." />
            </div>
            <div class="form-group w-50">
                <label for="price_limit">Price Limit</label>
                <input type="text" class="form-control" id="price_limit" name="price_limit" placeholder='i.e. 150.50'/>
            </div>
            <button type="submit" class="btn btn-primary">Create Alert</button>
        </form>
    </section>
{% endblock %}