{% extends "base.html" %}

{% block content %}
    <header><h1>Register User</h1></header>
    <section class="register-form">
        <form method="post">
            <div class="form-group w-50">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" />
            </div>
            <div class="form-group w-50">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" />
            </div>
            <button type="submit" class="btn btn-primary">Create User</button>
        </form>
    </section>
{% endblock %}